<body>
<h2>Add Actor</h2>
    <table>
        <tr>
          <th>Label</th>
          <th>Value</th>
          <th>Validation</th>
        </tr>
        <tr>
          <td>Name</td>
          <td><input type="text" [(ngModel)]="postActor.name"></td>
          <td>{{postActor.name}}</td>
        </tr>
        <tr>
          <td>First Name</td>
          <td><input type="text" [(ngModel)]="postActor.firstName"></td>
          <td></td>
        </tr>
        <tr>
          <td>Age</td>
          <td><input type="text" [(ngModel)]="postActor.age"></td>
          <td></td>
        </tr>
        <tr>
          <td>DateOfBirth</td>
          <td><input type="text" [(ngModel)]="postActor.dateOfBirth"></td>
          <td></td>
        </tr>
        <tr>
          <td>PlaceOfBirth</td>
          <td><input type="text" [(ngModel)]="postActor.placeOfBirth"></td>
          <td></td>
        </tr>
        <tr>
          <td>ImageUrl</td>
          <td><input type="text" [(ngModel)]="postActor.imageUrl"></td>
          <td></td>
        </tr>
      </table>
      <button (click)="AddActor()">ADD</button>
<hr>
<h2>Edit Actor</h2>
<select name="actors" [(ngModel)]="selectedActorEdit" >
    <option value="{{actor.id}}" *ngFor="let actor of actorList">{{actor.firstname}} {{actor.name}}</option>
</select>
<br><br>
<form action="">
    <table>
        <tr>
          <th>Label</th>
          <th>Value</th>
          <th>Validation</th>
        </tr>
        <tr>
          <td>Name</td>
          <td><input type="text"></td>
          <td></td>
        </tr>
        <tr>
          <td>First Name</td>
          <td><input type="text"></td>
          <td></td>
        </tr>
        <tr>
          <td>Age</td>
          <td><input type="text"></td>
          <td></td>
        </tr>
        <tr>
          <td>DateOfBirth</td>
          <td><input type="text"></td>
          <td></td>
        </tr>
        <tr>
          <td>PlaceOfBirth</td>
          <td><input type="text"></td>
          <td></td>
        </tr>
        <tr>
          <td>ImageURL</td>
          <td><input type="text"></td>
          <td></td>
        </tr>
      </table>
</form>
<hr>
<h2>Remove Actor</h2>
<select name="actors" [(ngModel)]="selectedActorDelete" >
    <option value="{{actor.id}}" *ngFor="let actor of actorList">{{actor.firstname}} {{actor.name}}</option>
</select>
<br><br>
<button (click)="RemoveActor()">Remove</button>
<hr>
</body>