<div *ngIf="auth.user$ | async; then authenticated else guest">
</div>
<ng-template #guest class="center">
    <h3>Howdy, GUEST</h3>
    <p>Login to get started...</p>
    <button (click)="auth.googleSignin()">
        <i class="fa fa-google"></i> Connect Google
    </button>   
</ng-template>

<ng-template #authenticated class="grid-container">
    <div class="block" *ngIf="auth.user$ | async as user">
        <img  [src]="user.photoURL">
        <h3>Howdy, {{ user.displayName }}</h3>
        <p>UID: {{ user.uid }}</p>
        <button (click)="auth.signOut()">Logout</button>
    </div>
</ng-template>
<hr>
