table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  tr {
    color: white;
    font-weight: bold;
  }
  
  tr:nth-child(even){background-color: #0a2c58}
  
  th {
    background-color: #278ea5;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family:courier,arial,helvetica;
  }
   h2 {
    font-family:courier,arial,helvetica;
    color: white;
   }
  
   button {
    background-color: white; 
    color: black; 
    border: 2px solid #278ea5;
    width: 90px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #278ea5;
    color: white;
    height: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  select {
    background-color: white; 
    color: black; 
    border: 2px solid #278ea5;
    width: 130px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  
   
  
  