<ul>
    <li class="item" [routerLinkActive] = "['active']">
      <button  [routerLink] = "['/Main']" pButton type="button" label="Main" icon="pi pi-check" style="margin-right: .25em">Main</button>
    </li>
    <li class="item" [routerLinkActive] = "['active']">
        <button  [routerLink] = "['/Edit']" pButton type="button" label="Edit" icon="pi pi-check" style="margin-right: .25em">Actors</button>
    </li>
    <li class="item" [routerLinkActive] = "['active']">
      <button  [routerLink] = "['/Movie']" pButton type="button" label="Movie" icon="pi pi-check" style="margin-right: .25em">Movies</button>
    </li>
    <li class="item" [routerLinkActive] = "['active']">
      <button  [routerLink] = "['/Director']" pButton type="button" label="Director" icon="pi pi-check" style="margin-right: .25em">Director</button>
    </li>
  </ul>
  <br>
